version: "3.8"

services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    volumes:
      - mdb:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception_net
    restart: on-failure
    secrets:
      - db_password
      - db_root_password

  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    volumes:
      - wp:/var/www/html
    depends_on:
      - mariadb
    env_file:
      - .env
    networks:
      - inception_net
    restart: on-failure
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password

  nginx:
    build:
      context: ./requirements/nginx
      args:
        DOMAIN_NAME: ktombola.42.fr
    image: nginx
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wp:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception_net
    restart: on-failure


secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt

volumes:
  mdb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ktombola/data/mariadb

  wp:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ktombola/data/wordpress


networks:
  inception_net:
    driver: bridge

