version: "3.8"
services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    volumes:
      - mdb:/var/lib/mysql
    expose:
        - "3306"
    env_file:
      - .env
    networks:
      - inception_net
    restart: on-failure
    secrets:
      - db_password
      - db_root_password
secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt

volumes:
  mdb:
    driver: local
    driver_opts:
      type: none
      device: /home/ktombola/data/mariadb
      o: bind

networks:
  inception_net:
    driver: bridge
